$font-stack: "Playfair Display", serif;
$primary-color: #333333;
$secondary-color: #614634;
$accent-color: #ffb76d;
$text-color: #f5f5f5;
$text-color-secondary: #F4A261;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  color: $text-color;
}

h1 {
  width: 60%;
}
h2,
h3 {
  padding: 0.5rem 0;
}
p {
  padding: 0.5rem 0;
}

section,
aside {
  margin: 2rem auto;
  width: 80%;
  max-width: 600px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 0;

  background-color: $secondary-color;

  .nav__item {
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    color: $secondary-color;
  }
  & > a {
    color: inherit;
  }

  &--call-to-action {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.card__item {
  border: 1px solid $accent-color;
  padding: 1rem;
  margin-bottom: 2rem;

  &--brown {
    background-color: $secondary-color;
  }

  &--call-to-action {
    background-color: $accent-color;
    border: 1px solid $secondary-color;
    color: $primary-color;
  }
}

footer {
  background-color: $secondary-color;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 2rem 0;
    gap: 0.5rem;

    li {
      list-style: none;
    }
  }
}
