@use './variables';

footer {
  background-color: variables.$secondary-color;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 2rem 0;
    gap: 0.5rem;

    li {
      list-style: none;
    }
  }
}
