@use './variables';

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem 0;

  background-color: variables.$secondary-color;

  .nav__item {
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    color: variables.$secondary-color;
  }
  & > a {
    color: inherit;
  }

  &--call-to-action {
    border: 1px solid variables.$accent-color;
    color: variables.$accent-color;
  }
}
