.nav-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  
  list-style: none;
  border: 1px solid;
  background-color: lightcoral;

  padding: 1rem;
}
.nav-list > li {
  transition: all 0.5s ease-out;
}

.flex {
  flex: 1;
}

.nav-list > #toggle-button {
  background-color: lightblue;
  color: #333;
}

.nav-list > li > a {
  text-decoration: none;
  color: #fff;
}

.nav-list > li:hover,
.nav-list > li:focus {
  background-color: #fff;
  transform: scale(1.2);

  a {
    color: #333;
  }
}

.hide {
  opacity: 0;
  display: hidden;
  transition: opacity 1s;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}
