:root {
  --white: #FEFAE0;
  --dark-blue: #264653;
  --black: #333;
  --teal: #2A9D8F;
  --burnt-yellow: #E9C46A;
  --orange: #F4A261;
  --dark-orange: #E76F51;
}
html {
  height: 100vh;
}

body {
  background-color: #333;
  color: #fff;
}

