body {
  background-color: bisque;
}

.channel-title {
  text-align: center;
}

.program-list {
  list-style: none;
  background-color: whitesmoke;
  padding: 0;
}

.program-list__item {
  border-top: 1px solid saddlebrown;
  padding: .5rem;
}