main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2rem;
}
div {
  padding-top: 1rem;
}
button {
  margin-left: 150px;
}
#tempratur {
  font-weight: 700;
}