.nav__container {
  margin: 0 auto;
  width: 90%;
  background-color: var(--brown--transparent);
  border: 1px solid var(--brown--transparent);
}

.menu__container {
  border: 1px solid var(--warm-yellow);
  background-color: var(--dark-gray);
  margin: 0 .5rem;
  padding: .8rem;
}

.menu__container > ul {
  list-style: none;
  padding: 0;
}

.menu__option {
  padding-bottom: .3rem;
}

.menu__title {
  display: flex;
  align-items: center;
}

.dish__name {
  margin-right: 1rem;
}

.separator {
  flex-grow: 1;
  border-bottom: 2px solid var(--orange);
  margin: 0 .1rem;
}

.dish__price {
  margin-left: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
