@media screen and (min-width: 600px) {
  .menu__list {
    margin: 1rem 2rem;
    padding: .3rem .5rem;
    border-radius: .5rem;
    border: 3px solid salmon;
    background-color: #333;
    color: whitesmoke;
  }
}