.specials__menu {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--brown);
  border-left: 1px solid var(--warm-yellow);
  border-bottom: 1px solid var(--warm-yellow);
  padding: 1rem;

  transition: transform 0.2s ease-out;
  transform: translateX(100%);
}

.specials__menu--open {
  transform: translateX(0);
}

.specials__menu > div {
  margin-bottom: 2rem;
}
.specials__menu > h3 {
  margin-right: 4rem;
}