.specials__menu {
  position: absolute;
  display: none;

  background-color: var(--brown);
  border-left: 1px solid var(--warm-yellow);
  border-bottom: 1px solid var(--warm-yellow);
  padding: 1rem;

  transition: all 0.3s ease-out;
}

.specials__menu--open {
  display: block;
  top: 0;
  right: 0;
}

.specials__menu--closed {
  display: none;
}

.specials__menu > div {
  margin-bottom: 2rem;
}
