:root {
  --warm-yellow: #ffb76d; /* Brand color */
  --brown: #614634; /* Good for headings or accents */
  --black: #0f1615; /* Use for text on light backgrounds */
  --white: #f5f5f5; /* Use for text on dark backgrounds */
  --cream-white: #ffead6; /* Background color */
  --dark-gray: #333333; /* Use for paragraph text */
  --orange: #be6321; /* Accent color */

  --brown--transparent: hsl(24, 31%, 28%, 0.5);
  --warm-yellow--transparent: hsl(30, 100%, 70%, 0.3);
  --black--transparent: hsl(170, 10%, 7%, 0.3);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  color: white;
}

.overlay {
  border-image:
  linear-gradient(
    var(--warm-yellow--transparent),
    var(--brown))
  fill 1
}

.hero {
  background-image: url("../images/brooke-lark-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13vh;
}

#home > .welcome {
  padding-top: 1.3rem;
}

#home > h1,
#home > p {
  text-align: center;
}

#home > h1 {
  margin: .3rem .3rem;
}
#home > p {
  margin: 0;
  padding: 0.3rem .3rem;
  font-weight: 700;
}

header h1 {
  margin: 0;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact > p {
  margin: .3em;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: .5rem;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
}
